* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Common Css End  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Yeseva+One&display=swap"); /* Fonts Import */

/*Pre-define Class Start */
.container {
  max-width: 90%;
  margin: 0 auto;
}
.space {
  padding: 50px 0;
}
.btn {
  background-color: #db5959;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
}
/*Pre-define Class End */
header {
  display: flex;
  justify-content: space-between;
}
.hero-text .hero-tile {
  font-size: 40px;
  font-family: "Yeseva One", cursive;
  border-left: 5px solid #db5959;
  padding-left: 20px;
}
.hero-text .hero-tile span {
  color: #ffb701;
  padding: 5px 0;
  display: block;
}
.hero-text p {
  padding: 20px 0;
  line-height: 1.4;
}
.hero-img {
  max-width: 50%;
}
.hero-img img {
  width: 80%;
  float: right;
  margin-top: -30px;
}
/* Hero Section End */
