* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Common Css End  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Yeseva+One&display=swap"); /* Fonts Import */

/*Pre-define Class Start */
.container {
  max-width: 90%;
  margin: 0 auto;
}
.space {
  padding-top: 80px;
}
.section_title {
  padding-bottom: 40px;
  font-family: "Yeseva One", cursive;
  font-size: 40px;
}
.section_body {
  display: flex;
  gap: 4%;
}
.btn {
  background-color: #db5959;
  color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  display: inline-block;
}
/*Pre-define Class End */
header {
  display: flex;
  justify-content: space-between;
}
.hero-text {
  width: 50%;
}
.hero-text .hero-tile {
  font-size: 45px;
  font-family: "Yeseva One", cursive;
  border-left: 5px solid #db5959;
  padding-left: 20px;
}
.hero-text .hero-tile span {
  color: #ffb701;
  padding: 5px 0;
  display: block;
}
.hero-text p {
  padding: 40px 0;
  line-height: 1.8;
}
p.hero_scroll {
  padding-top: 30px;
}
.hero-img {
  max-width: 45%;
}
.hero-img img {
  width: 90%;
  float: right;
  margin-top: -10px;
}
/* Hero Section End */
.feasurd_title {
  text-align: center;
}
.sigle_feaserd {
  background: #f3f3f3;
  border-radius: 15px;
  padding: 40px 25px;
}
.section_body .sigle_feaserd img {
  max-width: 150px;
}
.section_body .sigle_feaserd h3 {
  font-weight: 500;
  font-size: 24px;
  padding: 15px 0;
}
.section_body .sigle_feaserd p {
  line-height: 1.4;
}
/* Feasurd Section End */
.develper_thinking_text p {
  line-height: 1.5;
  padding-bottom: 50px;
}

.develper_thinking_img {
  max-width: 50%;
  align-self: center;
}
.develper_thinking_img img {
  width: 90%;
}
/* developer thinking Section End */
.solution_text p {
  line-height: 1.5;
  padding-bottom: 50px;
}
.solution_img {
  min-width: 50%;
  align-self: flex-end;
}
.solution_img img {
  width: 90%;
  float: right;
}
/* Creative soluation Section end */

.progress_feasured_img {
  max-width: 50%;
}
.progress_feasured_img img {
  max-width: 100%;
}
.progress_feasured_text {
  width: 50%;
}
.progress_feasured_text p {
  line-height: 1.6;
}
.progress_feasured_text ul {
  list-style: none;
  padding-top: 30px;
}
.progress_feasured_text ul li {
  padding: 10px 0;
}
.progress_feasured_text ul li .progressbar_title {
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
}

.progressbar progress {
  width: 100%;
  padding-top: 15px;
  display: inline-block;
}

/*Complete preogress section  */
footer {
  margin-top: 60px;
  background: #000;
  padding: 30px;
  text-align: center;
  color: #f3f3f3;
}
footer h3 {
  padding-bottom: 10px;
}
footer h3 span {
  color: #db5959;
}
footer p {
  font-size: small;
}
